/* main style */
body {
  margin: 0px;
  padding: 0px;
  background-color: #f7ecde;
}

/* 
font-family: "PT Sans Caption", sans-serif;
font-family: "Righteous", sans-serif;
font-family: "Pacifico", cursive;
. */

.container {
  background-color: #f7ecde;
}

.title {
  h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #352e28;
  }
}
.content {
  border-top: 2px dotted;
  border-bottom: 2px dotted;
  h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

input {
  border-radius: 7px;
  padding: 7px;
  padding-left: 12px;
  border: rgb(203, 203, 203) solid 1px;
}

input::placeholder {
  color: rgb(94, 88, 88);
}

label {
  font-weight: 800;
  font-family: "PT Sans Caption", sans-serif;
  padding: 0px 0px 5px 3px;
}

input:focus {
  box-shadow: 0 0 0 0.25rem #fec26055;
  outline: 0;
}

.submit-btn-container button {
  font-family: "PT Sans Caption", sans-serif;
  padding: 7px 50px;
  border: none;
  border-radius: 5px;
  background-color: #bd4422;
  color: white;
  transition: all 0.3s;
}
.submit-btn-container button:hover {
  background-color: #922f13;
}

.user-info .info {
  font-family: "PT Sans Caption", sans-serif;
}

#result button {
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  padding: 8px 12px;
  border: none;
} 

#result .visit-btn {
  display: inline-block;
  background-color: #8A9E23;
  text-decoration: none;
  font-family: "PT Sans Caption", sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  padding: 8px 12px;
  border: none;
}
#result .delete-btn {
  background-color: #D30820;
}
